.warpper{width: 100%;}
/* banner */
	.banner{width: 100%;height: 600px;background-image: url(../images/banner-img.png); background-position: center top;background-repeat: no-repeat;}
	.banner .ban-div{width: 1180px;height: 600px;margin: 0 auto;position: relative;}
	.banner .ban-div .logo{width: 149px;height: 29px;position: absolute;left: 4px;top: 13px;}
	.banner .ban-div .phonenum{font-size: 14px; color: #666; position: absolute;right: 0px;top: 20px;}
	.banner .ban-div .ban-local{width: 488px;height: 106px;position: absolute;top: 378px;left: 0px;}
	.banner .ban-div .ban-local a{display: block; width: 100%;height: 100%; color: #fff;text-align: center;font-size: 30px;line-height: 100px;}
	.banner .ban-div .ban-local a.redbtn{background: url(../images/btnRed.png) no-repeat 100% 100%;}
	.banner .ban-div .ban-local a.greybtn{background: url(../images/btnGrey.png) no-repeat 100% 100%;}
/* 主体 */
.main{width: 100%;background-image: url(../images/bg.png);background-position:center top;position: relative;}
.phb{position: absolute;top: -1px  ;right: 150px;cursor:pointer}
.yichu{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/* 活动流程 */
.process{width: 1180px;height: 438px;margin: 0 auto;border-top: 1px solid #fff;}
.process .content{width: 1180px;height: 200px;}
.process .content>div{height: 200px;position: relative;}
.process .content .timer{font-size: 22px;}
.process .content .gang{width: 393px;height: 3px;margin-top: 30px;}
.process .content .p-san{width: 0;height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 7px solid #ff622c;position: absolute;left: 50%;margin-left: -3px;top: 100px;}
.process .content .p-img{width: 56px;height: 56px; position: absolute;left: 50%;margin-left: -28px;top: 35px;}
.process .content .days{width: 100px;height: 32px;line-height: 32px;font-size: 18px;position: absolute;top: 107px;left: 50%;margin-left: -50px;}
.process .content .txt{font-size: 18px;}
/* 红色 */
.red-div .gang{background-color: #f92416;}
.red-div .gang377{background-color: #f92416;}
.red-div .timer{color: #f92416;}
.red-div .days{background-image: url(../images/time-bg_03.png);background-size: 100% 100%;color: #fff;}
.red-div .txt{color: #f92416;}
.red-div .p-img{background-image: url(../images/y-jinbi.png);background-size: 100% 100%;}
.red-div .san{border-left:17px solid #f92416;}
/* 灰色 */
.grey-div .gang{background-color: #ddd;}
.grey-div .gang377{background-color: #ddd;}
.grey-div .timer{color: #999;}
.grey-div .days{color: #999;}
.grey-div .p-san{display: none;}
.grey-div .txt{color: #999;}
.grey-div .p-img{background-image: url(../images/h-jinbi.png);background-size: 100% 100%;}
.grey-div .san{border-left:17px solid #ddd;}

.gang377{width: 377px;height: 3px;margin-top: 30px;}
.san{width: 0;height: 0; border-top: 11px solid transparent; border-bottom: 11px solid transparent;position: absolute;right: 0px;top: 51px;}
/* 先抢后送 */
.gifts{width: 1180px;height: 543px;margin: 0 auto;border-top: 1px solid #fff;clear: both;}
.gifts .conts{width: 1180px;height: 300px;}
.gifts .conts>div{width: 280px;height: 300px;border-radius: 10px;box-shadow: 1px 6px 20px #ccc;}
.gifts .conts>div p{padding-left: 30px;color: #fff;}
.bg-blue{background-image: url(../images/bg_blue.png);background-size: 100% 100%;}
.bg-orange{background-image: url(../images/bg_orange.png);background-size: 100% 100%;}
.bg-pink{background-image: url(../images/bg_pink.png);background-size: 100% 100%;}
.bg-purple{background-image: url(../images/bg_purple.png);background-size: 100% 100%;}
/* 名师简介 */
.teach{width: 1180px;height: 745px;margin: 0 auto;border-top: 1px solid #fff;clear: both;position: relative;}
.teach .teacher{width: 1180px;height: 502px;background-image: url(../images/teach-bg.png);background-size: 100% 100%;}
.teach .teacher p{padding-left: 475px;padding-right: 50px;}
.teach .teacher .teach-name{font-size: 50px;font-family: "方正正中黑简体";padding-top: 115px;}
.teach .teacher .teach-job{font-size: 34px;font-family: "方正正中黑简体";}
.teach .teacher .teach-txt{font-size: 18px;color: #666;line-height: 30px;padding-top: 10px;}
.teach-btn{width: 428px;height: 106px;background-image: url(../images/btn-bg.png);background-size: 100% 100%;position: absolute;bottom: -18px;left: 50%;margin-left: -214px;color: #fff;font-size: 28px;text-align: center;line-height: 100px;cursor:pointer}
.teach-btn:hover{
	color: #fff;
}/* 活动规则 */
.rule{width: 1180px;height: 823px;margin: 0 auto;border-top: 1px solid #fff;clear: both;}
.rule-pic{position: relative;width: 1180px;height: 100px;}
.rule-picL{width: 415px;height: 100px;position: absolute;left: 0px;}
.rule-picC{width: 340px;height: 100px;position: absolute;left: 415px;}
.rule-picR{width: 425px;height: 100px;position: absolute;right: 0px;}
.rule-pic img{width: 100px;height: 100px;border-radius: 50px;float: left;}
.rule-pic>div>div{float: left;padding-left: 20px}
.rule-pic div p{font-weight: bold;}
.rule-picL p{padding: 20px 0 12px 0;}
.rule-picC p{padding: 6px 0 8px 0;}
.rule-picC span{display: inline-block;width: 205px;line-height: 28px;}
.rule-picR p{padding: 6px 0 8px 0;}
.rule-picR span{display: inline-block;width: 303px;line-height: 28px;}
.rule-txt{width: 1180px;padding-top: 40px;}
.rule-txt p{color: #666;line-height: 40px;font-size: 18px;}

/* 弹框 */
.black{width: 100%;height: 100%;position: fixed;top: 0;left: 0;bottom: 0;right: 0; background-color: rgba(0,0,0,0.6);z-index: 12;}
/*loading图*/
.black .loading{
	width: 200px;
	height: 200px;
	display: block;
	position: absolute;
	top: calc(50% - 100px) ;
	left: calc(50% - 100px);
}
/* 预约*/
.yuyue{text-decoration: none;}
/* 成功 */
.b-success{width: 479px;height: 658px;position: absolute;top: 50%;left: 50%;margin-left: -239.5px;margin-top: -358px;}
.b-success .clearfix .close{display: block;float: right;width: 40px;height: 40px;background: url(../images/close.png) no-repeat;cursor: pointer;opacity: 1;}
.b-success .suc-bg{width: 479px;height: 600px;margin-top: 18px;background: url(../images/success-bg.png) no-repeat 100% 100%;}
.b-success .suc-bg .suc-txt{padding-top: 286px;}
.b-success .suc-bg .code-img{width: 130px;height: 130px;margin: 21px auto 25px;}
.b-success .suc-bg .code-img img{width: 130px;height: 130px;}
/*.b-success .suc-bg button{width: 350px;height: 60px;border-radius: 30px; background: url(../images/sucessbtn-bg.png) no-repeat 100% 100%;margin-left: 65px;color: #fff;font-size: 22px;}*/
/* 失败 */
.fail{width: 459px;height: 579px;position: absolute;top: 50%;left: 50%;margin-left: -229.5px;margin-top: -300px;}
.fail .clearfix .close{display: block;float: right;width: 40px;height: 40px;background: url(../images/close.png) no-repeat;cursor: pointer;opacity: 1;}
.fail .fail-bg{width: 459px;height: 521px;margin-top: 18px;background: url(../images/fail-bg.png) no-repeat 100% 100%;}
.fail .fail-bg .fail-txt{padding-top: 285px;}
.fail .fail-bg .fail-txt2{padding-top: 3px;}
.fail .fail-bg button{width: 350px;height: 60px;border-radius: 30px; background: url(../images/sucessbtn-bg.png) no-repeat 100% 100%;margin:45px 0 0 55px;color: #fff;font-size: 22px;}
/* 温馨提示 */
.wxts{width: 459px;height: 579px;position: absolute;top: 50%;left: 50%;margin-left: -229.5px;margin-top: -300px;}
.wxts .clearfix .close{display: block;float: right;width: 40px;height: 40px;background: url(../images/close.png) no-repeat;cursor: pointer;opacity: 1;}
.wxts .wxts-bg{width: 459px;height: 521px;margin-top: 18px;background: url(../images/wxts-bg.png) no-repeat 100% 100%;}
.wxts .wxts-bg .wxts-txt{padding-top: 285px;}
.wxts .wxts-bg .wxts-txt2{padding-top: 3px;}
.wxts .wxts-bg button{width: 350px;height: 60px;border-radius: 30px; background: url(../images/sucessbtn-bg.png) no-repeat 100% 100%;margin:45px 0 0 55px;color: #fff;font-size: 22px;}
/* 排行榜 */
.b-list{width: 479px;height: 658px;position: absolute;top: 50%;left: 50%;margin-left: -239.5px;margin-top: -358px;}
.b-list .clearfix .close{display: block;float: right;width: 40px;height: 40px;background: url(../images/close.png) no-repeat;cursor: pointer;opacity: 1;}
.b-list .list-bg{width: 479px;height: 600px;margin-top: 18px;background: url(../images/list-bg.png) no-repeat 100% 100%;overflow:hidden;}
.b-list .list-bg .scrollhide{width: 418px;height: 445px;margin: 84px auto 0;overflow: hidden;}
.b-list .list-bg ul{width: 435px;height: 445px; overflow-y: auto;}
.b-list .list-bg ul li:last-child{margin-bottom: 21px;}
.b-list .list-bg .list-head{width: 100%;height: 40px;}
.b-list .list-bg .list-head span{font-size: 20px;color: #333;line-height: 40px;}
.pm{padding-left: 40px;}
.zsy{padding-left: 160px;}
.gp{padding-left: 45px;}
.b-list .list-bg .lis{width: 100%; height: 80px;border-bottom: 1px solid #eee;}
.b-list .list-bg .lis .list-num i{display: inline-block;width: 23px;text-align: center;line-height: 80px;color: #666;font-size: 16px;}
.b-list .list-bg .lis .list-num i.first{display: inline-block;width: 23px;height: 33px;margin-top: 24px;background:url(../images/1.png) no-repeat 100% 100%;}
.b-list .list-bg .lis .list-num i.second{display: inline-block;width: 23px;height: 32px;margin-top: 24px;background:url(../images/2.png) no-repeat 100% 100%;}
.b-list .list-bg .lis .list-num i.third{display: inline-block;width: 23px;height: 32px;margin-top: 24px;background:url(../images/3.png) no-repeat 100% 100%;}
.b-list .list-bg .lis .list-tx{width: 40px;height: 40px;margin: 20px;}
.b-list .list-bg .lis .list-tx img{width: 40px;height: 40px;border-radius: 20px;}
.b-list .list-bg .lis .list-name{width: 140px;height: 80px;}
.b-list .list-bg .lis .list-name p{font-size: 16px;line-height: 80px;color: #666;}
.b-list .list-bg .lis .list-tum{width: 70px;height: 80px;}
.b-list .list-bg .lis .list-tum p{font-size: 18px;line-height: 80px;}
.list-share{width: 103px;height: 80px;}
.list-share p{font-size: 16px;color: #666; text-align: center;padding:20px 0 0 20px;}
/* 公共标题 */
.top{width: 1180px;height: 118px;margin: 80px 0 45px 0;position: relative;}
.top .yw{color: #f5f5f5;font-size: 72px;position: absolute;top: -20px;left: 0;}
.top .zw{font-size: 34px;font-family: "方正正中黑简体";position: absolute;top: 36px;left: 0;}
.top span{font-size: 22px;position: absolute;bottom: 0;left: 0;}
/* 公共样式 */
.c-000{color: #000;}
.c-333{color: #333;}
.c-fff{color: #fff;}
.c-999{color: #999;}
.c-red{color: #ee5050;}
.c-green{color: limegreen;}
.c-666{color: #666;}
.wh393{width: 393px;}
.wh394{width: 394px;}
.pt80{padding-top: 80px;}
.pt5{padding-top: 5px;}
.ml20{margin-left: 20px;}
.ft16{font-size: 16px;}
.ft20{font-size: 20px;}
.ft24{font-size: 24px;}
.ft28{font-size: 28px;}
.ft70{font-size: 66px;}
.pt4{padding-top: 4px;}
.pt30{padding-top: 30px;}
.op6{opacity: .6;}

